<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
        verbose="false"
        bootstrap="bootstrap.php"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
>
    <testsuites>
        <testsuite name="HRS">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SITE_URL" value="http://hrs.loc/"/>
    </php>
</phpunit>